body{
    margin: 0;
    font-family: 'Inter';
}
header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.menu{
display: flex;
gap: 40px;
border-top: 1px solid #000;
align-items: center;
width: 100%;
justify-content: space-around;

}

.one_item img{
    height: 380px;
}

.mebu_link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    
}

.banner{
    height: 90vh;
    background-image: url(img/image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 100px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: rgb(255, 255, 255);

}

.cart{
   
    
}

.catalog{
    padding: 100px; 
    text-align: center;
}

.catalog_title{
    text-transform: uppercase;
    margin-bottom: 50px;
}

.items_men{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.items_women{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.one_item{
    width: 25%;
    background-color: rgb(0, 0, 0);
    padding-bottom: 30px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0 black;
}

.one_item img{
    width:100%;
}

.name{
    color:aliceblue;
    font-size: 24px;
}

.buy{
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color:aliceblue;
    font-size:20px;
    padding: 5px 35px;
    border-radius: 15px;

}

.price{
    color: wheat;
}

.search{
    width: 30%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 50px;
    top: 7%;
    left: -12%;
    transition: 0.3s all ease;
}

.search_btn{
    padding: 5px 25px;
    border-radius: 0 20px 20px 0;
    background-color: rgb(98, 97, 172) ;
    border: none;
}

.search_btn img{
width: 100%;
height: 100%;
}
.search:hover{
    left:0
}

    .reviews{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        background-color: rgb(146, 28, 28);

    }

    .rev_cnt{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 50%;
    }

    .review{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        background-color: #fffefe;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 15px 18px 0px #000;
        gap: 40px;
        color: rgb(0, 0, 0);
    }

    .review img{
        width: 80px;
    }

    .text_cnt{
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rev_input{
        border-radius: 20px 0 0 20px;
        padding: 15px 20px;
        width: 40%;
        border: 1px solid white;
    }

    .rev_btn{
        border-radius: 0 20px 20px 0;
        padding: 16px 30px;
        border: none;
        background-color: rgb(0, 0, 0);
        color: black;
        transition: 0,3s all ease;
    color: white;
    }

    .rew-btn:hover{
        background-color: rgb(170, 5, 5);
        color: #000;
    }

